@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700");
* { margin: 0; padding: 0; }

body { font-family: 'Poppins'; margin: 0; font-size: 62.5%; }

.section { height: 100vh; }

.section .my-navbar { background: #fff; border: none; }

.section .menu-view { padding-right: 10px; }

.section .menu-view a { font-size: 3em; }

.section-1 { margin-top: 50px; }

.section-1 h1 { padding-top: 17%; font-size: 4rem; }

/* padding-top: 5%; */
ul a { font-size: 1.4rem; padding: 0 2%; float: right; text-decoration: none; }

a:hover, a:link { color: black; }

h1, h2 { text-align: center; }

#square1 { font-size: 600px; /* Sterowanie rozmiarem figury. */ width: 1em; height: 1em; background-color: #F34A53; transform: rotate(45deg); position: relative; top: -20%; right: -90%; }

#square2 { font-size: 600px; /* Sterowanie rozmiarem figury. */ width: 1em; height: 1em; background-color: #F34A53; /* margin: 55px auto 0; */ transform: rotate(45deg); position: relative; top: -20%; left: -30%; transition: all 0.5s ease-in; }

@media (max-width: 768px) { .section-1 { margin-top: 110px; }
  .section-1 h1 { padding-top: 10%; font-size: 3rem; } }
