@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700");
* { margin: 0; padding: 0; }

body { margin: 0; padding: 0; font-family: 'Poppins'; font-size: 62.5%; }

.container { margin: 0; padding: 0; width: 100%; position: relative; }

.container .my-navbar { background: rgba(255, 255, 255, 0.836); border: none; }

.container .menu-view { padding-right: 10px; }

.container .menu-view a { font-size: 3em; }

.section { padding: 0; height: 100vh; width: 80%; margin: auto; line-height: 5em; }

.section .line { background: #F34A53; border: 1px solid #F34A53; border-radius: 20%; width: 6%; height: 5px; margin: 12px auto; }

.section h2 { padding: 20px; font-size: 6em; }

.section p { font-size: 2.5em; text-align: justify; }

.section-1 { margin-top: 50px; }

.section-1 h1 { padding-top: 17%; font-size: 6rem; }

.section-1 h2 { font-size: 3em; padding: 0; margin: 10px; }

.section-1 h2 span { color: #F34A53; }

.section-2 { height: 80vh; }

.section-3 div { display: -ms-flexbox; display: flex; -ms-flex-pack: distribute; justify-content: space-around; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.section-3 div img { height: auto; width: auto; max-width: 300px; max-height: 200px; margin: 20px 10px; }

ul a { font-size: 1.4rem; padding: 0 2%; float: right; text-decoration: none; }

a:hover, a:link { color: black; }

h1, h2 { text-align: center; }

#square1 { background-color: #F34A53; transform: rotate(45deg); position: absolute; top: 15%; right: -33%; z-index: -5; width: 600px; height: 600px; }

#square2 { background-color: #F34A53; transform: rotate(45deg); position: absolute; top: 55%; left: -38%; z-index: -5; width: 600px; height: 600px; }

@media (max-width: 992px) { #square1 { top: 12%; right: -60%; }
  #square2 { top: 55%; left: -60%; }
  .section-1 { margin-top: 110px; }
  .section-1 h1 { padding-top: 10%; font-size: 4rem; } }

@media (max-width: 767px) { #square1 { top: 12%; right: -120%; }
  #square2 { top: 55%; left: -120%; }
  .section-1 { margin-top: 110px; }
  .section-1 h1 { padding-top: 10%; font-size: 4rem; } }
